{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{% static 'css/hp.css' %}">
    <link rel="short icon" type="cinelect" href="{% static 'images/logos.png' %}">                  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="#" class="navbar-brand">Movie Recommendation</a>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>
    </header>
    
    <form method="post" id="genre-form">
        {% csrf_token %}
        <label for="genre">Choose a Genre:</label>
        <div class="form-controls">
            <select name="genre" id="genre">
                <option value="All" {% if selected_genre == 'All' %}selected{% endif %}>All</option>
                <option value="Action" {% if selected_genre == 'Action' %}selected{% endif %}>Action</option>
                <option value="Drama" {% if selected_genre == 'Drama' %}selected{% endif %}>Drama</option>
                <option value="Crime" {% if selected_genre == 'Crime' %}selected{% endif %}>Crime</option>
                <option value="Fantasy" {% if selected_genre == 'Fantasy' %}selected{% endif %}>Fantasy</option>
                <option value="Romance" {% if selected_genre == 'Romance' %}selected{% endif %}>Romance</option>
            </select>
            <button type="submit">Recommend</button>
        </div>
    </form>
    
    <div id="sample-movies">    
        <h2>Recommended Movies</h2>
        <ul>
            {% for movie in recommended_movies %}
                <li>
                    <p>{{ movie.title }} - {{ movie.genre }}</p>
                    <img src="{% static 'images/' %}{{ movie.image }}" alt="{{ movie.title }}">
                    <h1>Description: {{ movie.description }}</h1>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        function submitForm() {
            var selectedGenre = document.getElementById("genre").value;
            console.log("Selected Genre:", selectedGenre); 
            document.getElementById("genre-form").submit();
        }
    </script>
</body>
</html>
